<!--
* @Author                : AdrienLanco0<adrienlanco0@gmail.com>
* @CreatedDate           : 2023-11-18 19:59:00
* @LastEditors           : AdrienLanco0<adrienlanco0@gmail.com>
* @LastEditDate          : 2023-11-18 20:07:00
-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pronos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pronos</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Pronos page"></app-explore-container>
</ion-content>
